/* font-family: 'Lato', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}
body,
html {
  overflow-x: hidden;
}

/* HEADER */

header {
  display: flex;
  background-color: #1d1b1f;
  width: 100%;
  height: 12vh;
}

.navbar {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar__logo {
  position: absolute;
  left: 5%;
  background-image: url(../images//Logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 10vh;
  width: 35vw;
}

.show {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 97%;
  justify-content: center;
  background-color: #1d1b1f;
  width: 100%;
  max-height: 40vh;
  padding: 3vh 0;
  text-align: center;
}

.show li a {
  padding: 25px 0;
}

.navbar .navbar__nav {
  display: flex;
  flex-basis: auto;
  position: absolute;
  right: 5vw;
}

.navbar .navbar__nav .nav__item {
  list-style: none;
}

.navbar .navbar__nav .nav__item a {
  text-decoration: none;

  color: #ad8ed6;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  padding: 10px 20px;
  margin: 0 10px;
}

.navbar .navbar__nav .nav__item a:hover {
  background-color: #26222b;
  border-radius: 3px;
}

/* SOCIAL */

.container__details {
  position: relative;
  max-width: 1600px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #ebebeb;
}

.container__details .details__info {
  display: flex;
  height: 80px;
}

.container__details .divider {
  height: 25px;
  margin: auto 0;
}

.container__details .details__info > p {
  display: block;
  line-height: 80px;
  color: #8f98a1;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 0 40px;
}

.container__details .details__info > p:hover {
  color: #6c3ea8;
  cursor: pointer;
}

.container__details .details__social {
  position: absolute;
  right: 2%;
}

.container__details .details__social > img {
  padding: 0 3px;
  height: 50px;
}

.container__details .details__social > img:hover {
  cursor: pointer;
}
/* SLIDER */

.container__slideshow {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 700px;
  margin: 0 auto;
}

.slideshow__slider {
  position: relative;
  display: none;
  width: 1600px;
  height: 700px;
  background-position: center;
  background-size: cover;
}

.slideshow__slider .slideshow__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1200px;
  background-color: rgba(0, 0, 0, 0.7);
}

.slideshow__slider .slideshow__caption > p {
  padding: 15px;
  font-size: 6rem;
  line-height: 80px;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 300;
  text-align: center;
}
#first {
  background-image: url(../images/1.png);
  display: block;
}
#two {
  background-image: url(../images/2.jpg);
}
#three {
  background-image: url(../images/3.jpg);
}
#four {
  background-image: url(../images/4.jpg);
}

.btn--prev,
.btn--next {
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  left: -0.5%;
  transform: translate(0, -50%);
  text-align: center;
  line-height: 6vh;
  border-radius: 0 3px 3px 0;
  color: #fff;
  cursor: pointer;
  width: 3vw;
  height: 6vh;
  box-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.6);
  background-color: #5b289f;
}

.btn--next {
  right: -0.5%;
  left: auto;
  border-radius: 3px 0 0 3px;
  background-color: #6e3dae;
}

.btn--prev:hover,
.btn--next:hover {
  background-color: rgba(91, 40, 159, 0.8);
}

.container__dots {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 10%;
  text-align: center;
  height: 4vh;
  background-color: gray;
  width: 8vw;
  background-color: rgba(0, 0, 0, 0.7);

  z-index: 99;
}

.dots {
  width: 13px;

  height: 13px;

  background: white;

  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
}

.slideshow__slider--fade {
  animation-name: slideshow__slider--fade;

  animation-duration: 1.5s;
}

@keyframes slideshow__slider--fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

.active,
.dot:hover {
  width: 10px;

  height: 10px;
  background-color: #7647b3;
}

/* MAIN */

.container__main {
  max-width: 1500px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 20px;
}

.border_bottom {
  border-bottom: 1px solid #888888;
  width: 100%;
}
.main__tabs {
  position: relative;
  display: flex;
  margin: 30px auto;
}

.main__tabs p:not(:nth-child(4)) {
  text-align: center;
  width: 20%;
  padding: 10px 30px;

  color: #7647b3;
  border: 2px solid #7647b3;
  font-size: 2.5rem;
  line-height: 20px;

  font-family: 'Lato';
  font-weight: 400;
  text-transform: uppercase;
}

.main__tabs p:not(:nth-child(3)) {
  border-right: none;
}

.main__tabs p:hover {
  background-color: #7647b3;
  color: #ffffff;
}

.main__paragraph {
  position: absolute;
  right: 0;
  top: 35%;
  font-size: 2.2rem;
  padding: 5px 10px 5px 0;
  line-height: 20px;
  color: #a9b2ba;
  font-family: 'Lato';
  font-weight: 400;
  text-align: right;
}

.main__paragraph img {
  padding-left: 10px;
  height: 10px;
}

.main__paragraph:hover {
  background-color: white;
  cursor: pointer;
  color: #767c81;
}

/* FIRST GALLERY */

.container__gallery {
  display: flex;
  min-height: 25vh;
}
.gallery__photo {
  display: inline-block;
  width: 33%;
  min-height: 25vh;
}

.gallery__photo .gallery__image {
  display: block;
  width: 25vw;
  height: 25vh;
  border-radius: 2px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.gallery__photo .gallery__image p {
  height: 25vh;
  width: 25vw;
  margin-left: -1%;
}

.gallery__photo .gallery__image p img {
  display: none;
}

.gallery__photo .gallery__image p:hover {
  background-color: rgba(67, 23, 126, 0.9);
  background-image: url(../images/plus.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.gallery__photo .image1 {
  background-image: url(../images//layer1.png);
}
.gallery__photo .image2 {
  background-image: url(../images//layer2.png);
  /* background-size: cover;
  background-repeat: no-repeat; */
}
.gallery__photo .image3 {
  background-image: url(../images//layer3.png);
}

.gallery__photo h2 {
  width: 25vw;
  margin: 2%;
  padding-top: 20px;
  font-size: 2.5rem;
  line-height: 20px;
  color: #6e3dae;
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
}

.gallery__photo p {
  width: 25vw;
  margin: 2%;
  padding-top: 20px;
  font-size: 2rem;
  line-height: 25px;
  color: #868f98;
  font-family: 'Arial';
}

.colours {
  max-width: 1500px;
  margin-right: 1%;
  margin-top: 5%;
  height: 12px;
  background-image: url(../images/Colour.png);
  background-position: right;
  background-repeat: no-repeat;
}

/* SECOND GALLERY */
.container__gallery--static {
  display: block;
}

.button {
  position: relative;
  display: flex;
  margin: 0 0 60px 0;
}

/* .second_gallery {
  margin-top: 30px;
} */

.gallery__photo .image4 {
  background-image: url(../images//layer4.png);
}

.gallery__photo .image5 {
  background-image: url(../images//layer5.png);
}

.gallery__photo .image6 {
  background-image: url(../images//layer6.png);
}

/* MOTTO */

.container__motto {
  max-width: 1200px;
  margin: 70px auto;
}
.container__motto > h2 {
  display: inline-block;
  background-image: linear-gradient(0deg, #6235a3 0%, #7647b3 100%);
  padding: 15px 30px;
  text-align: center;
  font-size: 4.5rem;
  line-height: 50px;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 300;
  text-align: center;
}

.container__motto > p {
  margin-top: 15px;
  padding: 0 40px;
  font-size: 2.2rem;
  line-height: 25px;
  color: #868f98;
  font-family: 'Lato';
  font-weight: 400;
  text-align: center;
}

.container__motto > img {
  display: block;
  margin: 15px auto 50px auto;
  height: 30px;
}

/* CHARTS */

.container__charts {
  max-width: 1500px;
  height: 50vh;
  margin: 100px auto 0 auto;
}

.container__charts .charts__chart {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  height: 24vh;
}

.container__charts .charts__chart .chart--single {
  display: flex;
  align-items: center;
  height: 25%;
  width: 50%;
  padding: 3px 0;
}
.container__charts .charts__chart .chart--single img {
  height: 35px;
}

.container__charts .charts__chart .chart--single p {
  font-size: 2.7rem;
  margin: 0 15px;
  line-height: 25%;
  color: #7949b5;
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
}

.container__charts .charts__chart p {
  margin-top: 50px;
  font-size: 2.2rem;
  line-height: 20px;
  color: #a9b2ba;
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
}

/*  BIOS */

.container__bios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/background_bios.png);
  height: 70vh;
  background-position: top;
  background-size: cover;
}

.bios__images {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
}

.bios__images .bios__images--ellipse {
  background-image: url(../images/Ellipse3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 106%;
  margin: 0 30px;
  width: 350px;
}

.bios__images .bios__images--portrait {
  padding: 10px;
  width: 250px;
  height: 250px;
}

.bios__people {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}

.bios__people .people__text {
  width: 50%;
  margin-top: 50px;
}

.bios__people .people__text h2 {
  font-size: 3rem;
  line-height: 20px;
  color: #dfd9e8;
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
}

.bios__people .people__text p {
  font-size: 2rem;
  line-height: 35px;
  color: #dad6da;
  font-family: 'Arial';
}

.bios__people .people__text:nth-child(1) h2 {
  margin: 0 10px 0 70px;
}

.bios__people .people__text:nth-child(1) p {
  margin: 20px 70px 0 80px;
}

.bios__people .people__text:nth-child(2) h2 {
  margin: 0 10px 0 230px;
}

.bios__people .people__text:nth-child(2) p {
  margin: 20px 10px 0 230px;
}

.container__background {
  height: 60vh;
  width: 100%;
  background-color: #160c16;
  position: relative;
  margin: 0 auto;
}

.container__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.container__footer .footer__links {
  position: absolute;
  top: 5vh;
  left: 1%;
}

.container__footer .footer__links h3 {
  font-size: 3rem;
  line-height: 20px;
  color: #b6a5b7;
  font-family: 'Lato';
  font-weight: 300;
  margin-bottom: 1vh;
}

.container__footer .footer__links .links__link a {
  display: block;
  font-size: 2rem;
  line-height: 20px;
  color: #b6a5b7;
  font-family: 'Helvetica Neue';
  text-decoration: none;
  padding: 15px 0;
  transition: all 0.8s;
}
.container__footer .footer__links .links__link a:hover {
  color: #a97aac;
}

.container__footer .footer__links .line {
  width: 100%;
  height: 1px;
  background-color: #b6a5b7;
}

.footer__about {
  position: absolute;
  top: 5vh;
  left: 25%;
  width: 40%;
}

.footer__about > h3 {
  font-size: 3rem;
  line-height: 20px;
  color: #b6a5b7;
  font-family: 'Lato';
  font-weight: 300;
  margin-bottom: 1vh;
}

.footer__about > p {
  font-size: 2rem;
  line-height: 30px;
  color: #b6a5b7;
  font-family: 'Lato';
  font-weight: 400;
  padding: 10px 0;
}

.footer__gallery {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 70%;
  top: 5vh;
}

.footer__gallery > h3 {
  font-size: 3rem;
  line-height: 20px;
  color: #b6a5b7;
  font-family: 'Lato';
  font-weight: 300;
  margin-bottom: 1vh;
}

.footer__photos {
  margin-top: 3%;
  margin-left: -3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 23vw;
  height: 38vh;
}

.footer__photo {
  display: inline-block;
  width: 30%;
  height: 30%;
  margin: 1%;

  border-radius: 3px;
  box-shadow: 1px 0.866px 0px rgba(0, 0, 0, 0.23);
}

.footer__photo:hover {
  cursor: pointer;
}

.footer__photo:nth-child(1) {
  background-image: url(../images/photo1.png);
  background-position: center;
  background-size: cover;
}
.footer__photo:nth-child(2) {
  background-image: url(../images/photo2.png);
  background-position: center;
  background-size: cover;
}
.footer__photo:nth-child(3) {
  background-image: url(../images/photo3.png);
  background-position: center;
  background-size: cover;
}
.footer__photo:nth-child(4) {
  background-image: url(../images/photo4.png);
  background-position: center;
  background-size: cover;
}
.footer__photo:nth-child(5) {
  background-image: url(../images/photo5.png);
  background-position: center;
  background-size: cover;
}
.footer__photo:nth-child(6) {
  background-image: url(../images/photo6.png);
  background-position: center;
  background-size: cover;
}
.footer__photo:nth-child(7) {
  background-image: url(../images/photo7.png);
  background-position: center;
  background-size: cover;
}
.footer__photo:nth-child(8) {
  background-image: url(../images/photo8.png);
  background-position: center;
  background-size: cover;
}

.footer__photo:nth-child(9) {
  background-image: url(../images/photo9.png);
  background-position: center;
  background-size: cover;
}

.footer__photo p {
  display: block;
  height: 100%;
}
.footer__photo p:hover {
  background-color: rgba(67, 23, 126, 0.8);
}

.container__copyright {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 0; */
  width: 100%;
  background-color: #0b060b;
  height: 10vh;
}

.container__copyright p {
  display: block;
  font-size: 2rem;

  color: #b6a5b7;
  font-family: 'Lato';
  font-weight: 300;
}

#button__top {
  display: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: rgba(173, 142, 214, 0.7);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 50px;
  transition: 0.2s;
}
#button__top .icon {
  font-size: 30px;
}

#button__top:hover {
  background-color: #6235a3;
}

@media (max-width: 1650px) {
  .container__width {
    max-width: 1300px;
    margin: 0 auto;
  }

  .container__main {
    max-width: 1200px;
  }
  .container__slideshow {
    height: 600px;
  }

  .slideshow__slider {
    height: 600px;
  }
  .slideshow__slider .slideshow__caption {
    max-width: 900px;
  }
  .slideshow__slider .slideshow__caption > p {
    line-height: 60px;
    font-size: 4.5rem;
  }
  .main__tabs p:not(:nth-child(4)) {
    font-size: 2.2rem;
    width: 20%;
    padding: 10px 10px;
  }
  .gallery__photo .gallery__image {
    height: 25vh;
    width: 22vw;
  }
  .gallery__photo .gallery__image p {
    height: 25vh;
    width: 22vw;
    margin-left: 0;
  }
  .gallery__photo h2 {
    padding: 20px 10px 0 10px;
    font-size: 2.4rem;
  }
  .gallery__photo p {
    padding: 20px 10px 0 10px;
  }

  .gallery__photo .gallery__image h2 {
    width: 22vw;
    margin: 1vh 1vw;
  }

  .container__charts {
    max-width: 1200px;
  }
  .bios__images .bios__images--ellipse {
    background-image: url(../images/Ellipse3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 106%;
    margin: 0 30px;
    width: 250px;
  }

  .bios__images .bios__images--portrait {
    padding: 10px;
    width: 200px;
    height: 200px;
  }

  .bios__people {
    max-width: 1200px;
  }
  .bios__people .people__text:nth-child(1) p {
    margin-left: 70px;
  }

  .bios__people .people__text:nth-child(2) p {
    margin-left: 180px;
  }
  .bios__people .people__text:nth-child(2) h2 {
    margin-left: 180px;
  }
}

@media (max-width: 1450px) {
  .container__details {
    max-width: 1200px;
  }

  .container__slideshow {
    height: 500px;
    max-width: 1200px;
  }
  .slideshow__slider {
    max-width: 1200px;
    height: 500px;
  }
  .slideshow__slider .slideshow__caption > p {
    font-size: 3rem;
    line-height: 40px;
  }

  .dots {
    width: 10px;
    height: 10px;
  }
  .active,
  .dot:hover {
    width: 7px;

    height: 7px;
  }
  .navbar .navbar__nav {
    right: 6%;
  }
  .navbar .navbar__nav .nav__item a {
    font-size: 1.9rem;
    padding: 10px;
  }
  .container__details .details__info > p {
    padding: 0 25px;
  }
  .container__motto > h2 {
    display: block;
    font-size: 3rem;
  }

  .container__motto > p {
    font-size: 1.9rem;
  }
  .container__motto > img {
    height: 20px;
  }
  .container__bios {
    height: 70vh;
  }
  .bios__people .people__text h2 {
    font-size: 2.3rem;
  }
  .bios__people .people__text p {
    font-size: 1.9rem;
  }
  .container__charts {
    height: 50vh;
  }
  .container__charts .charts__chart {
    height: 21vh;
  }
  .container__charts .charts__chart .chart--single img {
    height: 30px;
  }
  .container__charts .charts__chart .chart--single p {
    font-size: 2.2rem;
  }

  .gallery__photo p {
    height: 23vh;
    width: 23vw;
    margin-left: 3vw;
    padding-top: 10px;
    font-size: 1.9rem;
  }
  .gallery__photo h2 {
    font-size: 1.9rem;
    width: 22vw;
    margin-left: 3vw;
  }
  .container__footer {
    height: 70vh;
  }
  .colours {
    margin-top: 5%;
  }
  .container__background {
    height: 70vh;
  }

  .container__footer .footer__links {
    left: 4%;
  }

  .container__footer .footer__links h3 {
    font-size: 2.3rem;
  }

  .container__footer .footer__links .links__link a {
    font-size: 1.9rem;
  }

  .footer__about {
    width: 35%;
    left: 30%;
  }
  .footer__gallery > h3 {
    font-size: 2.3rem;
  }
  .footer__photos {
    height: 30vh;
  }

  .footer__about > h3 {
    font-size: 2.3rem;
  }
  .footer__about > p {
    font-size: 1.9rem;
  }
}

@media (max-width: 1280px) {
  .container__width {
    max-width: 1000px;
    margin: 0 auto;
  }
  .container__main {
    max-width: 900px;
  }

  .navbar .navbar__nav .nav__item a {
    font-size: 1.4rem;
  }
  .container__details {
    height: 45px;
  }
  .container__details .details__info {
    height: 20px;
  }
  .container__details .details__info > p {
    font-size: 1rem;
    line-height: 20px;
  }
  .container__details .details__social > img {
    height: 30px;
  }
  .container__slideshow {
    height: 450px;
  }

  .slideshow__slider {
    height: 450px;
  }
  .slideshow__slider .slideshow__caption {
    max-width: 700px;
  }

  .main__tabs p:not(:nth-child(4)) {
    font-size: 1.1rem;
    padding: 3px 5px;
  }
  .main__paragraph {
    font-size: 1rem;
  }
  /* .footer__photo {
    width: 22vw;
    height: 22vh;
  }

  .pgallery__photo p {
    height: 22vh;
    width: 22vw;
  } */
  .gallery__photo h2 {
    width: 20vw;
    margin-left: 1vw;
    font-size: 1.4rem;
  }

  .gallery__photo p {
    width: 20vw;
    margin-left: 1vw;
    font-size: 1.4rem;
  }

  .colours {
    margin-top: 6vh;
  }
  .container__motto > h2 {
    display: block;
    font-size: 2.5rem;
    line-height: 35px;
  }

  .container__motto > p {
    font-size: 1.5rem;
  }

  .container__motto > img {
    height: 20px;
  }

  .container__charts {
    max-width: 800px;
    margin-top: 50px;
  }

  .container__charts .charts__chart .chart--single img {
    height: 25px;
  }
  .container__charts .charts__chart .chart--single p {
    font-size: 1.7rem;
  }
  .chart--single .container__charts .charts__chart > p {
    font-size: 1.3rem;
  }

  .bios__images .bios__images--ellipse {
    width: 200px;
  }
  .bios__images .bios__images--portrait {
    width: 150px;
    height: 150px;
  }
  .bios__people .people__text {
    margin-top: 20px;
  }
  .bios__people .people__text h2 {
    font-size: 2rem;
  }
  .bios__people .people__text p {
    font-size: 1.4rem;
    line-height: 20px;
    width: 25vw;
  }
  .bios__people .people__text:nth-child(1) h2 {
    margin-left: 40px;
  }
  .bios__people .people__text:nth-child(1) p {
    margin-left: 40px;
  }

  .bios__people .people__text:nth-child(2) h2 {
    margin-left: 150px;
  }
  .bios__people .people__text:nth-child(2) p {
    margin-left: 150px;
  }
  .container__background {
    height: 50vh;
  }
  .container__footer {
    height: 50vh;
  }
  .container__footer .footer__links {
    left: 6%;
  }
  .container__footer .footer__links h3 {
    font-size: 2rem;
  }
  .container__footer .footer__links .links__link a {
    font-size: 1.4rem;
    padding: 7px 0;
  }
  .container__footer .footer__about > h3 {
    font-size: 2rem;
  }
  .footer__about > p {
    font-size: 1.4rem;
    line-height: 15px;
  }
  .container__footer .footer__gallery > h3 {
    font-size: 2rem;
  }
  .container__copyright p {
    font-size: 1.4rem;
  }
}

@media (max-width: 1100px) {
  .container__details {
    max-width: 900px;
  }

  .container__slideshow {
    max-width: 900px;
  }
  .slideshow__slider {
    max-width: 900px;
  }

  .container__main {
    max-width: 800px;
  }
  .gallery__photo h2 {
    font-size: 1.3rem;
  }
  .gallery__photo p {
    font-size: 1.3rem;
  }
  .container__motto > h2 {
    font-size: 2.2rem;
  }
  .container__motto > p {
    font-size: 1.4rem;
  }

  .navbar .navbar__nav .nav__item a {
    font-size: 1.2rem;
  }
  .bios__people .people__text h2 {
    font-size: 1.7rem;
  }
  .bios__people .people__text p {
    font-size: 1.2rem;
  }
  .bios__people .people__text:nth-child(1) h2 {
    margin-left: -40px;
  }
  .bios__people .people__text:nth-child(1) p {
    margin-left: -40px;
  }

  .container__footer .footer__links {
    left: 6%;
  }
  .container__footer .footer__links h3 {
    font-size: 1.5rem;
  }
  .container__footer .footer__links .links__link a {
    font-size: 1.2rem;
    padding: 4px 0;
  }
  .container__footer .footer__about > h3 {
    font-size: 1.52rem;
  }
  .footer__about > p {
    padding: 5px 0;
    font-size: 1.2rem;
    line-height: 15px;
  }
  .container__footer .footer__gallery > h3 {
    font-size: 1.5rem;
  }
  .container__copyright p {
    font-size: 1.2rem;
  }
}
@media (max-width: 960px) and (orientation: landscape) {
  header {
    height: 15vh;
  }
  .container__width {
    max-width: 750px;
  }
  #hamburger {
    position: absolute;

    left: 43vw;
    width: 50px;
    height: 50px;
    background-color: #1d1b1f;
  }

  #hamburger {
    width: 35px;
    height: 20px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #hamburger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #ad8ed6;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #hamburger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger span:nth-child(2) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -4px;
    left: 8px;
  }

  #hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 20px;
    left: 8px;
  }
  .container__slideshow,
  .slideshow__slider {
    height: 350px;
  }
  .slideshow__slider .slideshow__caption {
    max-width: 600px;
  }
  .slideshow__slider .slideshow__caption > p {
    font-size: 2.5rem;
    line-height: 30px;
  }
  .btn--prev,
  .btn--next {
    width: 4vw;
    height: 8vh;
    line-height: 8vh;
  }
  .container__dots {
    width: 10vw;
    height: 5vh;
  }

  .gallery__photo h2 {
    width: 22vw;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
  }
  .gallery__photo p {
    height: 30vh;
    width: 22vw;
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
  }
  .colours--margin {
    margin-top: 30vh;
  }
  .container__motto {
    max-width: 600px;
  }
  .container__motto > h2 {
    font-size: 2rem;
  }
  .container__motto > img {
    height: 14px;
  }
  .container__charts {
    height: 75vh;
  }
  .container__charts .charts__chart {
    height: 35vh;
  }
  .chart--single .container__charts .charts__chart > p {
    margin-top: 30px;
  }
  .container__bios {
    height: 90vh;
  }

  .bios__images .bios__images--portrait {
    width: 120px;
    height: 120px;
  }
  .bios__images .bios__images--ellipse {
    width: 160px;
  }

  .container__background {
    height: 75vh;
  }
  .container__footer {
    height: 75vh;
  }
  .footer__about {
    left: 32%;
  }
  .footer__photos {
    width: 27vw;
    height: 50vh;
  }
}
@media (max-width: 780px) and (orientation: landscape) {
  .container__width {
    max-width: 650px;
  }
  .gallery__photo .gallery__image,
  .gallery__photo .gallery__image p,
  .gallery__photo h2,
  .gallery__photo p {
    width: 26vw;
  }

  .container__charts .charts__chart .chart--single img {
    height: 22px;
  }
  .footer__about {
    left: 35%;
  }
  .footer__gallery {
    left: 73%;
  }
}
@media (max-width: 668px) and (orientation: landscape) {
  .container__width {
    max-width: 550px;
  }
  .container__main {
    max-width: 100%;
  }

  .slideshow__slider,
  .container__slideshow {
    height: 200px;
  }
  .slideshow__slider .slideshow__caption {
    max-width: 400px;
  }
  .dots {
    width: 8px;
    height: 8px;
  }
  .active,
  .dot:hover {
    width: 6px;
    height: 6px;
  }
  .navbar .navbar__nav .nav__item a {
    font-size: 1.2rem;
    line-height: 20px;
  }
  .container__background {
    height: 70vh;
  }
  header {
    height: 17vh;
  }
  .navbar__logo {
    width: 41vw;
  }
  .container__details {
    height: 25vh;
    align-items: center;
  }

  .container__details .details__info {
    flex-direction: column;
    height: 100%;
  }
  .container__details .details__info > p {
    padding: 0 10px;
    height: 33%;
    line-height: 30px;
  }
  .container__details .divider {
    display: none;
  }
  .container__details .details__social {
    display: flex;
    flex-direction: column;
  }
  .container__details .details__social > img {
    margin: 2px 0;
  }
  .main__tabs p:not(:nth-child(4)) {
    font-size: 0.9rem;
    line-height: 14px;
  }
  .slideshow__slider .slideshow__caption > p {
    max-width: 400px;
    font-size: 1.5rem;
    line-height: 20px;
    padding: 8px;
  }
  .container__gallery {
    min-height: 80vh;
  }
  .gallery__photo {
    height: 115vh;
    width: 32%;
  }

  .gallery__photo .gallery__image,
  .gallery__photo .gallery__image p,
  .gallery__photo h2,
  .gallery__photo p {
    width: 23vw;
  }
  .gallery__photo h2 {
    height: 15vh;
  }
  .colours--margin {
    margin-top: 10vh;
  }

  .bios__images .bios__images--portrait {
    width: 80px;
    height: 80px;
  }
  .container__charts {
    max-width: 450px;
  }
  .container__charts .charts__chart .chart--single img {
    height: 15px;
  }
  .container__charts .charts__chart .chart--single p {
    font-size: 1.2rem;
    margin-left: 10px;
  }
  .chart--single .container__charts .charts__chart > p {
    font-size: 0.9rem;
  }
  .container__bios {
    height: 90vh;
  }
  .bios__images .bios__images--ellipse {
    margin: 0 10px;
    width: 100px;
  }
  .bios__people {
    width: 550px;
  }
  .bios__people .people__text:nth-child(1) h2,
  .bios__people .people__text:nth-child(1) p {
    margin: 10px 0 0 10vw;
  }
  .bios__people .people__text:nth-child(2) h2,
  .bios__people .people__text:nth-child(2) p {
    margin: 10px 0 0 10vw;
  }
  .container__background {
    height: 80vh;
  }
  .container__footer .footer__links {
    left: 4%;
  }
  .footer__about {
    left: 35%;
  }
  .bios__people {
    max-width: 90vw;
    margin: 0 5vw;
  }
  .bios__people .people__text {
    margin: 1vh 1vh 0 4vw;
  }
  .bios__people .people__text:nth-child(1) h2 {
    margin: 0;
    width: 100%;
  }
  .bios__people .people__text:nth-child(1) p {
    margin: 0;
    width: 100%;
  }
  .bios__people .people__text:nth-child(2) h2 {
    margin: 0;
    width: 100%;
  }
  .bios__people .people__text:nth-child(2) p {
    margin: 0;
    width: 100%;
  }
  .bios__images .bios__images--ellipse {
    display: none;
  }
  .bios__images .bios__images--portrait {
    width: 90px;
    height: 90px;
  }
  .bios__images .bios__images--portrait :nth-child(2) {
    margin-right: 20%;
  }
  .container__background {
    height: 230vh;
    max-width: 100%;
  }
  .container__footer {
    flex-direction: column;
    max-width: 100%;
    height: 230vh;
  }
  .footer__links {
    width: 90%;
    height: 25vh;
    left: 0;
    top: 0;
  }
  .footer__about {
    height: 20vh;
    width: 90%;
    left: 4%;
    top: 30%;
  }
  .footer__gallery {
    width: 90%;
    height: 100vh;
    left: 4%;
    top: 54%;
  }
  .footer__photos {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    align-items: center;
  }
}
@media (max-width: 600px) and (orientation: landscape) {
  .container__width {
    max-width: 100%;
  }
  .container__slideshow {
    height: 250px;
  }
  .slideshow__slider {
    height: 250px;
  }
  .slideshow__slider .slideshow__caption > p {
    max-width: 300px;
    font-size: 1.5rem;
    line-height: 20px;
    padding: 10px;
  }
  .container__main {
    max-width: 90vw;
  }
  .navbar__logo {
    width: 60vw;
    height: 100%;
    background-position-y: 65%;
  }
  .navbar .navbar__nav .nav__item a {
    font-size: 1.5rem;
    line-height: 20px;
  }
  .container__details {
    align-items: center;
    height: 28vh;
  }
  .container__details .details__social > img {
    padding: 1px;
  }

  .container__details .details__info {
    flex-direction: column;
    height: 100%;
  }
  .container__details .details__info > p {
    padding: 2px 10px;
    height: 33%;
  }
  .container__details .divider {
    display: none;
  }
  .container__details .details__social {
    display: flex;
    flex-direction: column;
  }
  .main__tabs {
    margin: 15px 0;
  }
  .main__tabs p:not(:nth-child(4)) {
    padding: 2px;
    line-height: 10px;
  }
  .main__paragraph {
    top: 10%;
  }
  .container__gallery {
    flex-wrap: wrap;
  }
  .gallery__photo {
    width: 100%;
    margin-bottom: 3vh;
  }
  .gallery__photo .gallery__image,
  .gallery__photo .gallery__image p {
    width: 70vw;
    height: 60vh;
  }

  .gallery__photo h2 {
    font-size: 1.6rem;
    width: 70vw;
  }
  .gallery__photo p {
    font-size: 1.4rem;
    line-height: 18px;
    width: 70vw;
  }
  .container__charts {
    max-width: 90vw;
  }
  .container__charts .charts__chart {
    height: 22vh;
  }
  .container__charts .charts__chart .chart--single img {
    height: 12px;
  }
  .container__charts .charts__chart .chart--single p {
    font-size: 1.2rem;
  }
  .chart--single .container__charts .charts__chart > p {
    font-size: 1rem;
  }

  /* .bios__people {
    max-width: 90vw;
    margin: 0 5vw;
  }
  .bios__people .people__text {
    margin: 1vh 1vh 0 4vw;
  }
  .bios__people .people__text:nth-child(1) h2 {
    margin: 0;
    width: 100%;
  }
  .bios__people .people__text:nth-child(1) p {
    margin: 0;
    width: 100%;
  }
  .bios__people .people__text:nth-child(2) h2 {
    margin: 0;
    width: 100%;
  }
  .bios__people .people__text:nth-child(2) p {
    margin: 0;
    width: 100%;
  }
  .bios__images .bios__images--ellipse {
    display: none;
  }
  .bios__images .bios__images--portrait {
    width: 90px;
    height: 90px;
  }
  .bios__images .bios__images--portrait :nth-child(2) {
    margin-right: 20%;
  }
  .container__background {
    height: 230vh;
    max-width: 100%;
  }
  .container__footer {
    flex-direction: column;
    max-width: 100%;
    height: 230vh;
  }
  .footer__links {
    width: 90%;
    height: 25vh;
    left: 0;
    top: 0;
  }
  .footer__about {
    height: 20vh;
    width: 90%;
    left: 4%;
    top: 30%;
  }
  .footer__gallery {
    width: 90%;
    height: 100vh;
    left: 4%;
    top: 54%;
  }
  .footer__photos {
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    align-items: center;
  } */

  #button__top {
    bottom: 20px;
    right: 20px;
  }
  #button__top .icon {
    font-size: 20px;
  }
}

@media (max-width: 1224px) and (orientation: portrait) {
  .gallery__photo .gallery__image,
  .gallery__photo .gallery__image p {
    height: 14vh;
  }

  .colours {
    margin-top: 1vh;
  }
  .container__charts {
    min-height: 30vh;
  }
  .container__charts .charts__chart .chart--single {
    height: 15%;
  }
  .container__bios {
    height: 40vh;
  }
  .container__background {
    height: 40vh;
  }
  .container__footer {
    height: 40vh;
  }
  .container__copyright {
    height: 4vh;
  }
}

@media (max-width: 1025px) and (orientation: portrait) {
  header {
    height: 9vh;
  }
  .navbar .navbar__nav {
    right: 3%;
  }
  .navbar__logo {
    width: 40vw;
  }
  .navbar .navbar__nav .nav__item a {
    font-size: 1.6rem;
  }
  .container__dots {
    height: 3vh;
  }
  .btn--prev,
  .btn--next {
    height: 4vh;
    width: 4vw;
    font-size: 3rem;
    line-height: 4vh;
  }
  .container__charts {
    height: 35vh;
  }
  .container__background {
    height: 30vh;
  }
  .container__footer {
    height: 30vh;
  }
  .footer__photos {
    height: 20vh;
  }
}

@media (max-width: 960px) and (orientation: portrait) {
  /* aaa */
  #hamburger {
    position: absolute;

    left: 43vw;
    width: 50px;
    height: 50px;
    background-color: #1d1b1f;
  }

  #hamburger {
    width: 35px;
    height: 20px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #hamburger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #ad8ed6;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #hamburger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger span:nth-child(2) {
    top: 15px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -4px;
    left: 8px;
  }

  #hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 20px;
    left: 8px;
  }

  .navbar__logo {
    width: 45vw;
    height: 50%;
    top: 50%;
    transform: translate(0, -50%);
  }
  header {
    height: 10vh;
  }
  .navbar {
    position: relative;
  }
  .navbar .navbar__nav .nav__item a {
    font-size: 1.8rem;
    padding: 0;
    line-height: 30px;
  }
  .navbar .navbar__nav .nav__item a:hover {
    background-color: #1d1b1f;
    color: #c498ff;
  }
  .container__width {
    max-width: 700px;
  }
  .container__main {
    max-width: 600px;
  }
  .slideshow__slider {
    height: 300px;
  }
  .slideshow__slider .slideshow__caption > p {
    font-size: 2.3rem;
    line-height: 25px;
  }
  .main__tabs p:not(:nth-child(4)) {
    font-size: 0.9rem;
    padding: 2px 3px;
  }
  .main__paragraph {
    font-size: 0.8rem;
  }
  .gallery__photo .gallery__image {
    width: 19vw;
    height: 12vh;
  }
  .gallery__photo .gallery__image p {
    width: 19vw;
    height: 12vh;
  }
  .gallery__photo h2 {
    font-size: 1rem;
    line-height: 14px;

    margin: 10px auto 0 auto;
    padding: 0;
    text-align: center;
  }
  .gallery__photo p {
    font-size: 1rem;
    line-height: 14px;
    margin: 10px auto 0 auto;
    padding: 0;
    text-align: center;
    height: 12vh;
  }
  .colours {
    margin-top: 3vh;
  }
  .container__motto > h2 {
    font-size: 1.9rem;
    line-height: 25px;
  }
  .container__motto > p {
    font-size: 1rem;
  }

  .container__motto > img {
    height: 14px;
  }

  .container__motto {
    margin-bottom: 30px;
  }
  .container__charts {
    max-width: 600px;
    margin-bottom: 5vh;
  }
  .container__charts .charts__chart {
    height: 28vh;
  }
  .container__charts .charts__chart .chart--single {
    padding: 5px 0;
  }
  .container__charts .charts__chart .chart--single img {
    height: 18px;
  }
  .chart--single .container__charts .charts__chart > p {
    margin-top: 7vh;
  }
  .container__bios {
    height: 40vh;
  }
  .bios__people {
    max-width: 600px;
  }
  .bios__images .bios__images--ellipse {
    width: 120px;
  }
  .bios__images .bios__images--portrait {
    width: 100px;
    height: 100px;
  }
  .bios__people .people__text:nth-child(1) h2 {
    margin-left: 3vw;
    font-size: 1rem;
  }
  .bios__people .people__text:nth-child(1) p {
    margin-left: 3vw;
    margin-top: 10px;

    font-size: 0.9rem;
  }
  .bios__people .people__text:nth-child(2) h2 {
    margin-left: 12vw;
    font-size: 1rem;
  }
  .bios__people .people__text:nth-child(2) p {
    margin-left: 12vw;
    margin-top: 10px;
    font-size: 0.9rem;
  }
  .container__background {
    height: 40vh;
  }
  .container__footer {
    height: 40vh;
  }
  .container__footer .footer__links .links__link a {
    font-size: 0.9rem;
  }
  .footer__about {
    left: 30%;
  }

  .footer__about > p {
    font-size: 0.9rem;
  }

  .container__copyright p {
    font-size: 0.9rem;
  }
}

@media (max-width: 769px) and (orientation: portrait) {
  .container__width {
    max-width: 700px;
  }

  .navbar .navbar__nav .nav__item a {
    font-size: 2rem;
    margin: 0 2px;
  }

  .container__slideshow {
    height: 300px;
  }

  .slideshow__slider {
    max-width: 700px;
  }

  .slideshow__slider .slideshow__caption {
    max-width: 500px;
  }
  .container__dots {
    width: 12vw;
    height: 3vh;
  }

  .active,
  .dot:hover {
    width: 8px;
    height: 8px;
  }

  .btn--prev,
  .btn--next {
    font-size: 2rem;
    line-height: 4vh;
    width: 5vw;
    height: 4vh;
  }

  header {
    height: 10vh;
  }
  .container__details {
    max-width: 700px;
  }
  .container__details .details__info > p {
    padding: 0 10px;
  }
  .gallery__photo .gallery__image {
    width: 19vw;
    height: 10vh;
  }
  .gallery__photo .gallery__image p {
    width: 19vw;
    height: 10vh;
  }

  .container__main {
    max-width: 600px;
  }
  .gallery__photo h2 {
    font-size: 1.1rem;
  }
  .gallery__photo p {
    height: 15vh;
    font-size: 1rem;
  }

  .slideshow__slider .slideshow__caption > p {
    max-width: 600px;
  }
  .colours {
    margin-top: 5vh;
  }

  .container__charts {
    max-width: 600px;
    margin-block-end: 5vh;
  }

  .container__charts .charts__chart .chart--single img {
    height: 20px;
  }
  .container__bios {
    height: 40vh;
  }
  .bios__images .bios__images--ellipse {
    width: 120px;
    margin: 0 15px;
  }
  .bios__images .bios__images--portrait {
    height: 100px;
    width: 100px;
  }

  .bios__people .people__text:nth-child(1) h2 {
    margin-left: -11%;
  }
  .bios__people .people__text:nth-child(1) p {
    margin-left: -11%;
  }
  .bios__people .people__text:nth-child(2) h2 {
    margin-left: 40%;
  }
  .bios__people .people__text:nth-child(2) p {
    margin-left: 40%;
  }
  .container__footer {
    height: 35vh;
  }

  .container__background {
    height: 35vh;
  }
  .footer__about {
    left: 34%;
  }
  .footer__gallery {
    left: 73%;
  }
}
@media (max-width: 680px) and (orientation: portrait) {
  .gallery__photo .gallery__image {
    width: 26vw;
    height: 16vh;
  }
  .gallery__photo .gallery__image p {
    width: 26vw;
    height: 16vh;
  }
  .gallery__photo h2 {
    width: 26vw;
  }
}
@media (max-width: 570px) and (orientation: portrait) {
  .container__width {
    max-width: 100%;
  }
  .container__slideshow {
    height: 250px;
  }
  .slideshow__slider {
    height: 250px;
  }
  .slideshow__slider .slideshow__caption > p {
    max-width: 300px;
    font-size: 1.5rem;
    line-height: 20px;
    padding: 10px;
    margin: 0 auto;
  }
  .container__main {
    max-width: 90vw;
  }
  .navbar__logo {
    width: 60vw;

    background-position-y: 65%;
  }
  .navbar .navbar__nav .nav__item a {
    font-size: 1.5rem;
    line-height: 20px;
  }
  .container__details {
    align-items: center;
    height: 10vh;
  }
  .container__details .details__social > img {
    padding: 1px;
  }

  .container__details .details__info {
    flex-direction: column;
    height: 100%;
  }
  .container__details .details__info > p {
    padding: 2px 10px;
    height: 33%;
  }
  .container__details .divider {
    display: none;
  }
  .container__details .details__social {
    display: flex;
    flex-direction: column;
  }
  .main__tabs {
    margin: 15px 0;
  }
  .main__tabs p:not(:nth-child(4)) {
    padding: 2px;
    line-height: 10px;
  }
  .main__paragraph {
    top: 10%;
  }
  .container__gallery {
    flex-wrap: wrap;
  }
  .gallery__photo {
    width: 100%;
    margin-bottom: 3vh;
  }
  .gallery__photo .gallery__image {
    width: 70vw;
    height: 25vh;
  }
  .gallery__photo .gallery__image p {
    width: 70vw;
    height: 25vh;
  }
  .gallery__photo h2 {
    font-size: 1.6rem;
    width: 70vw;
  }
  .gallery__photo p {
    font-size: 1.4rem;
    line-height: 18px;
    width: 70vw;
  }
  .container__charts {
    max-width: 90vw;
  }
  .container__charts .charts__chart {
    height: 22vh;
  }
  .container__charts .charts__chart .chart--single img {
    height: 12px;
  }
  .container__charts .charts__chart .chart--single p {
    font-size: 1.2rem;
  }
  .chart--single .container__charts .charts__chart > p {
    font-size: 1rem;
  }

  .bios__people {
    max-width: 90vw;
    margin: 0 5vw;
  }
  .bios__people .people__text {
    margin: 1vh 1vh 0 4vw;
  }
  .bios__people .people__text:nth-child(1) h2 {
    margin: 0;
    width: 100%;
  }
  .bios__people .people__text:nth-child(1) p {
    margin: 0;
    width: 100%;
  }
  .bios__people .people__text:nth-child(2) h2 {
    margin: 0;
    width: 100%;
  }
  .bios__people .people__text:nth-child(2) p {
    margin: 0;
    width: 100%;
  }
  .bios__images .bios__images--ellipse {
    display: none;
  }
  .bios__images .bios__images--portrait {
    width: 90px;
    height: 90px;
  }
  .container__background {
    height: 115vh;
    max-width: 100%;
  }
  .container__footer {
    flex-direction: column;
    max-width: 100%;
    height: 115vh;
  }
  .footer__links {
    width: 90%;
    height: 25vh;
    left: 0;
    top: 0;
  }
  .footer__about {
    height: 20vh;
    width: 90%;
    left: 6%;
    top: 30%;
  }
  .footer__gallery {
    width: 90%;
    height: 45vh;
    left: 6%;
    top: 52%;
  }
  .footer__photos {
    width: 100%;
    height: 30vh;

    margin: 0 auto;
    align-items: center;
  }

  #button__top {
    bottom: 20px;
    right: 20px;
  }
  #button__top .icon {
    font-size: 20px;
  }
}

@media (max-width: 415px) and (orientation: portrait) {
  header {
    height: 8vh;
  }
  #hamburger {
    background-color: #1d1b1f;
    width: 20px;
    height: 15px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

  #hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #ad8ed6;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  #hamburger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  #hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 5px;
  }

  #hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 12px;
    left: 5px;
  }
  .container__width {
    max-width: 100%;
  }

  .slideshow__slider {
    height: 250px;
  }
  .slideshow__slider .slideshow__caption {
    max-width: 300px;
  }
  .slideshow__slider .slideshow__caption > p {
    max-width: 300px;
    font-size: 1.5rem;
    line-height: 20px;
    padding: 10px;
  }
  .container__dots {
    width: 18vw;
  }
  .container__main {
    max-width: 90vw;
  }
  .navbar__logo {
    width: 60vw;

    background-position-y: 65%;
  }
  .navbar .navbar__nav .nav__item a {
    font-size: 1.5rem;
    line-height: 20px;
  }
  .container__details {
    align-items: center;
    height: 12vh;
  }
  .container__details .details__social img {
    padding: 1px;
  }

  .container__details .details__info {
    flex-direction: column;
    height: 100%;
  }
  .container__details .details__info > p {
    padding: 2px 10px;
  }
  .container__details .divider {
    display: none;
  }
  .container__details .details__social {
    display: flex;
    flex-direction: column;
  }
  .main__tabs {
    margin: 15px 0;
  }
  .main__tabs p:not(:nth-child(4)) {
    padding: 2px;
    line-height: 10px;
  }
  .main__paragraph {
    top: 10%;
  }
  .container__gallery {
    flex-wrap: wrap;
  }
  .gallery__photo {
    width: 100%;
    margin-bottom: 3vh;
  }
  .gallery__photo .gallery__image {
    width: 70vw;
    height: 25vh;
  }
  .gallery__photo .gallery__image p {
    width: 70vw;
    height: 25vh;
  }
  .gallery__photo h2 {
    font-size: 1.6rem;
    width: 70vw;
  }
  .gallery__photo p {
    font-size: 1.4rem;
    line-height: 18px;
    width: 70vw;
  }

  .container__motto > h2 {
    font-size: 1.5rem;
    line-height: 20px;
    padding: 10px 20px;
  }
  .container__charts {
    height: 40vh;
  }
  .container__charts .charts__chart {
    height: 22vh;
  }
  .container__charts .charts__chart .chart--single img {
    height: 12px;
  }
  .container__charts .charts__chart .chart--single p {
    font-size: 1.2rem;
  }
  .chart--single .container__charts .charts__chart > p {
    font-size: 1rem;
  }

  .container__bios {
    height: 50vh;
  }

  .bios__people {
    max-width: 90vw;
    margin: 0 5vw;
  }
  .bios__people .people__text {
    margin: 1vh 1vh 0 4vw;
  }
  .bios__people .people__text:nth-child(1) h2 {
    margin: 0;
    width: 100%;
  }
  .bios__people .people__text:nth-child(1) p {
    margin: 0;
    width: 100%;
  }
  .bios__people .people__text:nth-child(2) h2 {
    margin: 0;
    width: 100%;
  }
  .bios__people .people__text:nth-child(2) p {
    margin: 0;
    width: 100%;
  }
  .bios__images .bios__images--ellipse {
    display: none;
  }
  .bios__images .bios__images--portrait {
    width: 90px;
    height: 90px;
  }
  .container__background {
    height: 130vh;
    max-width: 100%;
  }
  .container__footer {
    flex-direction: column;
    max-width: 100%;
    height: 130vh;
  }
  .footer__links {
    width: 90%;
    height: 25vh;
    left: 0;
    top: 0;
  }
  .footer__about {
    height: 20vh;
    width: 90%;
    left: 6%;
    top: 30%;
  }
  .footer__gallery {
    /* position: static; */
    width: 90%;
    height: 45vh;
    left: 6%;
    top: 52%;
  }
  .footer__photos {
    width: 100%;
    height: 40vh;

    margin: 0 auto;
    align-items: center;
  }
}

@media (max-width: 376px) and (orientation: portrait) {
  .navbar .navbar__nav .nav__item a {
    font-size: 1.3rem;
  }
  .navbar__logo {
    width: 50vw;
    background-position-y: 50%;
  }
  .container__details {
    height: 12vh;
  }
  .container__details .details__info > p {
    font-size: 0.8rem;
  }
  .dots {
    height: 8px;
    width: 8px;
  }
  .active,
  .dot:hover {
    width: 6px;
    height: 6px;
  }
  .bios__images .bios__images--portrait {
    height: 80px;
    width: 80px;
    padding: 2px;
  }
  .footer__about {
    top: 30%;
  }
  .footer__gallery {
    width: 90%;
    height: 45vh;
    left: 6%;
    top: 56%;
  }
}

@media (max-width: 356px) and (orientation: portrait) {
  .bios__images .bios__images--portrait {
    height: 60px;
    width: 60px;
    padding: 1px;
  }
  .gallery__photo {
    margin-bottom: 5vh;
  }
  .container__charts .charts__chart .chart--single p {
    margin: 0 5px;
    font-size: 10px;
  }
  .container__charts .charts__chart .chart--single img {
    height: 10px;
  }
  .bios__images .bios__images--portrait :nth-child(2) {
    margin-right: 7vh;
  }
}

@media (max-width: 321px) and (orientation: portrait) {
  .slideshow__slider .slideshow__caption {
    max-width: 230px;
  }
  .slideshow__slider .slideshow__caption > p {
    font-size: 1.2rem;
    line-height: 18px;
  }
  .container__dots {
    width: 22vw;
  }
  .gallery__photo {
    margin-bottom: 7vh;
  }
  .gallery__photo p {
    height: 20vh;
  }
  .container__bios {
    height: 50vh;
  }
  .container__footer,
  .container__background {
    height: 125vh;
  }
  .footer__about {
    top: 33%;
  }
  .footer__gallery {
    top: 62%;
  }
}
