/* font-family: 'Lato', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

/* HEADER */

header {
  display: flex;
  background-color: #1d1b1f;
  width: 100vw;
  height: 10vh;
}

.nav {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo {
  position: absolute;
  left: 5%;
  background-image: url(../images//Logo.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 10vh;
  width: 35vw;
}

.hamburger {
  float: right;
  font-size: 20px;
  background-color: #1d1b1f;

  border: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  color: white;
}

.show {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 97%;
  justify-content: center;
  background-color: #1d1b1f;
  width: 100vw;
  max-height: 40vh;
  padding: 3vh 0;
  text-align: center;
}

.show li a {
  padding: 25px 0;
}

.nav .navbar {
  display: flex;
  flex-basis: auto;
  position: absolute;
}

/* .nav .navbar {
  width: 960px;
  height: 50vh;
}
.show {
  background-color: gray;

  text-align: center;
} */
.nav .navbar .item {
  list-style: none;
}

.nav .navbar .item a {
  text-decoration: none;

  color: #ad8ed6;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  padding: 10px 20px;
  margin: 0 10px;
}

.nav .navbar .item a:hover {
  background-color: #26222b;
  border-radius: 3px;
}

/* SOCIAL */

.details {
  position: relative;
  max-width: 1600px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: #ebebeb;
}

.details .info {
  display: flex;
  height: 80px;
}

.details .divider {
  height: 25px;
  margin: auto 0;
}

.details .info p {
  display: block;
  line-height: 80px;
  color: #8f98a1;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 0 40px;
}

.details .info p:hover {
  color: #6c3ea8;
  cursor: pointer;
}

.details .social {
  position: absolute;
  right: 2%;
}

.details .social img {
  padding: 0 3px;
  height: 50px;
}

.details .social img:hover {
  cursor: pointer;
}
/* SLIDER */

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/Image.png);
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  height: 800px;
  margin: 0 auto;
}

.slider h1 {
  width: 1200px;
  padding: 15px;
  font-size: 6rem;
  line-height: 80px;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 300;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

/* MAIN */

.main {
  max-width: 1500px;
  min-height: 100vh;
  margin: 0 auto;
  padding-bottom: 20px;
}

.border_bottom {
  border-bottom: 1px solid #888888;
  width: 100%;
}
.tabs {
  position: relative;
  display: flex;
  margin: 30px auto;
}

.tabs p:not(:nth-child(4)) {
  text-align: center;
  width: 20%;
  padding: 10px 30px;

  color: #7647b3;
  border: 2px solid #7647b3;
  font-size: 2.5rem;
  line-height: 20px;

  font-family: 'Lato';
  font-weight: 400;
  text-transform: uppercase;
}

.tabs p:not(:nth-child(3)) {
  border-right: none;
}

.tabs p:hover {
  background-color: #7647b3;
  color: #ffffff;
}

.all_work {
  position: absolute;
  right: 0;
  top: 35%;
  font-size: 2.2rem;
  line-height: 20px;
  color: #a9b2ba;
  font-family: 'Lato';
  font-weight: 400;
  text-align: right;
}

.all_work img {
  padding-left: 10px;
  height: 10px;
}

.all_work:hover {
  cursor: pointer;
  color: #767c81;
}

/* FIRST GALLERY */

.first_gallery {
  display: flex;
  min-height: 25vh;
}
.photo {
  display: inline-block;
  width: 33%;
  min-height: 25vh;
}

.photo .image_container {
  display: block;
  width: 25vw;
  height: 25vh;
  border-radius: 2px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo .image_container p {
  height: 25vh;
  width: 25vw;
  margin-left: -1%;
}

.photo .image_container p img {
  display: none;
}

.photo .image_container p:hover {
  background-color: rgba(67, 23, 126, 0.9);
  background-image: url(../images/plus.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.photo .image1 {
  background-image: url(../images//layer1.png);
}
.photo .image2 {
  background-image: url(../images//layer2.png);
  /* background-size: cover;
  background-repeat: no-repeat; */
}
.photo .image3 {
  background-image: url(../images//layer3.png);
}

.photo h2 {
  width: 25vw;
  margin: 2%;
  padding-top: 20px;
  font-size: 2.5rem;
  line-height: 20px;
  color: #6e3dae;
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
}

.photo p {
  width: 25vw;
  margin: 2%;
  padding-top: 20px;
  font-size: 2rem;
  line-height: 25px;
  color: #868f98;
  font-family: 'Arial';
}

.colours {
  max-width: 1500px;
  margin-right: 1%;
  margin-top: 5%;
  height: 12px;
  background-image: url(../images/Colour.png);
  background-position: right;
  background-repeat: no-repeat;
}

/* SECOND GALLERY */

.button {
  position: relative;
  display: flex;
  margin: 0 0 60px 0;
}

.second_gallery {
  margin-top: 30px;
}

.photo .image4 {
  background-image: url(../images//layer4.png);
}

.photo .image5 {
  background-image: url(../images//layer5.png);
}

.photo .image6 {
  background-image: url(../images//layer6.png);
}

/* MOTTO */

.motto {
  max-width: 1200px;
  margin: 70px auto;
}
.motto h2 {
  display: inline-block;
  background-image: linear-gradient(0deg, #6235a3 0%, #7647b3 100%);
  padding: 15px 30px;
  text-align: center;
  font-size: 4.5rem;
  line-height: 50px;
  color: #ffffff;
  font-family: 'Lato';
  font-weight: 300;
  text-align: center;
}

.motto p {
  margin-top: 15px;
  padding: 0 40px;
  font-size: 2.2rem;
  line-height: 25px;
  color: #868f98;
  font-family: 'Lato';
  font-weight: 400;
  text-align: center;
}

.motto img {
  display: block;
  margin: 15px auto 50px auto;
  height: 30px;
}

/* CHARTS */

.charts {
  max-width: 1500px;
  min-height: 40vh;
  margin: 100px auto 0 auto;
}

.charts_container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  height: 20vh;
}

.charts_container .chart {
  display: flex;
  align-items: center;
  height: 25%;
  width: 50%;
  padding: 3px 0;
}
.charts_container .chart img {
  height: 45px;
}

.charts_container .chart p {
  font-size: 2.7rem;
  margin: 0 15px;
  line-height: 25%;
  color: #7949b5;
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
}

.charts_container p {
  margin-top: 50px;
  font-size: 2.2rem;
  line-height: 20px;
  color: #a9b2ba;
  font-family: 'Lato';
  font-weight: 400;
  font-style: italic;
}

/*  BIOS */

.bios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../images/background_bios.png);
  height: 70vh;
  background-position: top;
  background-size: cover;
}

.images {
  display: flex;
  justify-content: center;
  max-width: 1500px;
  margin: 0 auto;
}

.images .ellipse {
  background-image: url(../images/Ellipse3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 106%;
  margin: 0 30px;
  width: 350px;
}

.images .portrait {
  padding: 10px;
  width: 250px;
  height: 250px;
}

.people {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
}

.people .text {
  width: 50%;
  margin-top: 50px;
}

.people .text h2 {
  font-size: 3rem;
  line-height: 20px;
  color: #dfd9e8;
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
}

.people .text p {
  font-size: 2rem;
  line-height: 35px;
  color: #dad6da;
  font-family: 'Arial';
}

.people .text:nth-child(1) h2 {
  margin: 0 10px 0 70px;
}

.people .text:nth-child(1) p {
  margin: 20px 70px 0 80px;
}

.people .text:nth-child(2) h2 {
  margin: 0 10px 0 230px;
}

.people .text:nth-child(2) p {
  margin: 20px 10px 0 230px;
}

.background_footer {
  height: 60vh;
  background-color: #160c16;
  position: relative;
  margin: 0 auto;
}

.container_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  max-width: 1500px;
  margin: 0 auto;
  position: relative;
}

.container_footer .links {
  position: absolute;
  top: 5vh;
  left: 1%;
}

.container_footer .links h3 {
  font-size: 3rem;
  line-height: 20px;
  color: #b6a5b7;
  font-family: 'Lato';
  font-weight: 300;
  margin-bottom: 1vh;
}

.container_footer .links .link a {
  display: block;
  font-size: 2rem;
  line-height: 20px;
  color: #b6a5b7;
  font-family: 'Helvetica Neue';
  text-decoration: none;
  padding: 15px 0;
  transition: all 0.8s;
}
.container_footer .links .link a:hover {
  color: #a97aac;
}

.container_footer .links .line {
  width: 100%;
  height: 1px;
  background-color: #b6a5b7;
}

.about {
  position: absolute;
  top: 5vh;
  left: 25%;
  width: 40%;
}

.about h3 {
  font-size: 3rem;
  line-height: 20px;
  color: #b6a5b7;
  font-family: 'Lato';
  font-weight: 300;
  margin-bottom: 1vh;
}

.about p {
  font-size: 2rem;
  line-height: 30px;
  color: #b6a5b7;
  font-family: 'Lato';
  font-weight: 400;
  padding: 10px 0;
}

.gallery {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 70%;
  top: 5vh;
}

.gallery h3 {
  font-size: 3rem;
  line-height: 20px;
  color: #b6a5b7;
  font-family: 'Lato';
  font-weight: 300;
  margin-bottom: 1vh;
}

.photos {
  margin-top: 3%;
  margin-left: -3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 23vw;
  height: 38vh;
}

.gallery .photos .photo_gallery {
  display: inline-block;
  width: 30%;
  height: 30%;
  margin: 1%;

  border-radius: 3px;
  box-shadow: 1px 0.866px 0px rgba(0, 0, 0, 0.23);
}

.gallery .photos .photo_gallery:hover {
  cursor: pointer;
}

.gallery .photos .photo_gallery:nth-child(1) {
  background-image: url(../images/photo1.png);
  background-position: center;
  background-size: cover;
}
.gallery .photos .photo_gallery:nth-child(2) {
  background-image: url(../images/photo2.png);
  background-position: center;
  background-size: cover;
}
.gallery .photos .photo_gallery:nth-child(3) {
  background-image: url(../images/photo3.png);
  background-position: center;
  background-size: cover;
}
.gallery .photos .photo_gallery:nth-child(4) {
  background-image: url(../images/photo4.png);
  background-position: center;
  background-size: cover;
}
.gallery .photos .photo_gallery:nth-child(5) {
  background-image: url(../images/photo5.png);
  background-position: center;
  background-size: cover;
}
.gallery .photos .photo_gallery:nth-child(6) {
  background-image: url(../images/photo6.png);
  background-position: center;
  background-size: cover;
}
.gallery .photos .photo_gallery:nth-child(7) {
  background-image: url(../images/photo7.png);
  background-position: center;
  background-size: cover;
}
.gallery .photos .photo_gallery:nth-child(8) {
  background-image: url(../images/photo8.png);
  background-position: center;
  background-size: cover;
}

.gallery .photos .photo_gallery:nth-child(9) {
  background-image: url(../images/photo9.png);
  background-position: center;
  background-size: cover;
}

.gallery .photos .photo_gallery p {
  display: block;
  height: 100%;
}
.gallery .photos .photo_gallery p:hover {
  background-color: rgba(67, 23, 126, 0.8);
}

.copyright {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  /* bottom: 0; */
  width: 100%;
  background-color: #0b060b;
  height: 10vh;
}

.copyright p {
  display: block;
  font-size: 2rem;

  color: #b6a5b7;
  font-family: 'Lato';
  font-weight: 300;
}

@media (max-width: 1920px) {
  .nav .navbar .item a {
    font-size: 2.2rem;
  }

  .nav .navbar {
    right: 5%;
  }
  .width_container {
    max-width: 1600px;
    margin: 0 auto;
  }
  .bios {
    height: 50vh;
  }
  .background_footer {
    height: 50vh;
    background-color: #160c16;
    position: relative;
  }
  .photos {
    height: 27vh;
  }
  .copyright {
    height: 8vh;
  }
}

@media (max-width: 1650px) {
  .width_container {
    max-width: 1300px;
  }

  .main {
    max-width: 1200px;
  }

  .slider {
    height: 600px;
  }
  .slider h1 {
    line-height: 60px;
    font-size: 4.5rem;
    max-width: 900px;
  }
  .tabs p:not(:nth-child(4)) {
    font-size: 2.2rem;
    width: 20%;
    padding: 10px 10px;
  }
  .photo .image_container {
    height: 30vh;
    width: 22vw;
  }
  .photo .image_container p {
    height: 30vh;
    width: 22vw;
    margin-left: 0;
  }
  .photo h2 {
    padding: 20px 10px 0 10px;
    font-size: 2.4rem;
  }
  .photo p {
    padding: 20px 10px 0 10px;
  }

  .photo .image_container h2 {
    width: 22vw;
    margin: 1vh 1vw;
  }

  .charts {
    max-width: 1200px;
  }
  .images .ellipse {
    background-image: url(../images/Ellipse3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 106%;
    margin: 0 30px;
    width: 250px;
  }

  .images .portrait {
    padding: 10px;
    width: 200px;
    height: 200px;
  }

  .people {
    max-width: 1200px;
  }
  .people .text:nth-child(1) p {
    margin-left: 70px;
  }

  .people .text:nth-child(2) p {
    margin-left: 180px;
  }
  .people .text:nth-child(2) h2 {
    margin-left: 180px;
  }
}

@media (max-width: 1450px) {
  .details {
    max-width: 1200px;
  }
  .slider {
    max-width: 1200px;
    height: 500px;
  }
  .slider h1 {
    font-size: 3rem;
    line-height: 40px;
  }

  .nav .navbar {
    right: 6%;
  }
  .nav .navbar .item a {
    font-size: 1.9rem;
    padding: 10px;
  }
  .details .info p {
    padding: 0 25px;
  }
  .motto h2 {
    display: block;
    font-size: 3rem;
  }

  .motto p {
    font-size: 1.9rem;
  }
  .motto img {
    height: 20px;
  }
  .bios {
    height: 70vh;
  }
  .people .text h2 {
    font-size: 2.3rem;
  }
  .people .text p {
    font-size: 1.9rem;
  }
  .charts_container .chart img {
    height: 30px;
  }
  .charts_container .chart p {
    font-size: 2.2rem;
  }

  .photo .image_container {
    height: 28vh;
    width: 22vw;
  }
  .photo .image_container p {
    height: 28vh;
    width: 22vw;
  }
  .photo p {
    height: 23vh;
    width: 23vw;
    margin-left: 3vw;
    padding-top: 10px;
    font-size: 1.9rem;
  }
  .photo h2 {
    font-size: 1.9rem;
    width: 22vw;
    margin-left: 3vw;
  }
  .container_footer {
    height: 60vh;
  }
  .colours {
    margin-top: 5%;
  }
  .background_footer {
    height: 70vh;
  }

  .container_footer .links {
    left: 4%;
  }

  .container_footer .links h3 {
    font-size: 2.3rem;
  }

  .container_footer .links .link a {
    font-size: 1.9rem;
  }

  .about {
    width: 35%;
    left: 30%;
  }
  .gallery h3 {
    font-size: 2.3rem;
  }

  .about h3 {
    font-size: 2.3rem;
  }
  .about p {
    font-size: 1.9rem;
  }
}

@media (max-width: 1280px) {
  .width_container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .main {
    max-width: 900px;
  }

  .nav .navbar .item a {
    font-size: 1.4rem;
  }
  .details {
    height: 45px;
  }
  .details .info {
    height: 20px;
  }
  .details .info p {
    font-size: 1rem;
    line-height: 20px;
  }
  .details .social img {
    height: 30px;
  }

  .slider {
    height: 450px;
  }
  .slider h1 {
    font-size: 3rem;
    line-height: 40px;
  }
  .tabs p:not(:nth-child(4)) {
    font-size: 1.1rem;
    padding: 3px 5px;
  }
  .all_work {
    font-size: 1rem;
  }
  .photo .image_container {
    width: 22vw;
    height: 28vh;
  }

  .photo .image_container p {
    height: 28vh;
    width: 22vw;
  }
  .photo h2 {
    width: 20vw;
    margin-left: 1vw;
    font-size: 1.4rem;
  }

  .photo p {
    width: 20vw;
    margin-left: 1vw;
    font-size: 1.4rem;
  }

  .colours {
    margin-top: 6vh;
  }
  .motto h2 {
    display: block;
    font-size: 2.5rem;
    line-height: 35px;
  }

  .motto p {
    font-size: 1.5rem;
  }

  .motto img {
    height: 20px;
  }

  .charts {
    max-width: 800px;
    margin-top: 50px;
  }

  .charts_container .chart img {
    height: 25px;
  }
  .charts_container .chart p {
    font-size: 1.7rem;
  }
  .charts_container p {
    font-size: 1.3rem;
  }

  .images .ellipse {
    width: 200px;
  }
  .images .portrait {
    width: 150px;
    height: 150px;
  }
  .people .text {
    margin-top: 20px;
  }
  .people .text h2 {
    font-size: 2rem;
  }
  .people .text p {
    font-size: 1.4rem;
    line-height: 20px;
    width: 25vw;
  }
  .people .text:nth-child(1) h2 {
    margin-left: 40px;
  }
  .people .text:nth-child(1) p {
    margin-left: 40px;
  }

  .people .text:nth-child(2) h2 {
    margin-left: 150px;
  }
  .people .text:nth-child(2) p {
    margin-left: 150px;
  }
  .background_footer {
    height: 50vh;
  }
  .container_footer {
    height: 50vh;
  }
  .container_footer .links {
    left: 6%;
  }
  .container_footer .links h3 {
    font-size: 2rem;
  }
  .container_footer .links .link a {
    font-size: 1.4rem;
    padding: 7px 0;
  }
  .container_footer .about h3 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1.4rem;
    line-height: 15px;
  }
  .container_footer .gallery h3 {
    font-size: 2rem;
  }
  .copyright p {
    font-size: 1.4rem;
  }
}

@media (max-width: 1100px) {
  .details {
    max-width: 900px;
  }
  .slider {
    max-width: 900px;
  }

  .main {
    max-width: 800px;
  }
  .photo h2 {
    font-size: 1.3rem;
  }
  .photo p {
    font-size: 1.3rem;
  }
  .motto h2 {
    font-size: 2.2rem;
  }
  .motto p {
    font-size: 1.4rem;
  }

  .nav .navbar .item a {
    font-size: 1.2rem;
  }
  .people .text h2 {
    font-size: 1.7rem;
  }
  .people .text p {
    font-size: 1.2rem;
  }
  .people .text:nth-child(1) h2 {
    margin-left: -40px;
  }
  .people .text:nth-child(1) p {
    margin-left: -40px;
  }

  .container_footer .links {
    left: 6%;
  }
  .container_footer .links h3 {
    font-size: 1.5rem;
  }
  .container_footer .links .link a {
    font-size: 1.2rem;
    padding: 4px 0;
  }
  .container_footer .about h3 {
    font-size: 1.52rem;
  }
  .about p {
    padding: 5px 0;
    font-size: 1.2rem;
    line-height: 15px;
  }
  .container_footer .gallery h3 {
    font-size: 1.5rem;
  }
  .copyright p {
    font-size: 1.2rem;
  }
}

@media (max-width: 1024px) and (orientation: portrait) {
  .photo .image_container,
  .photo .image_container p {
    height: 14vh;
  }

  .colours {
    margin-top: 1vh;
  }
  .charts {
    min-height: 30vh;
  }
  .charts_container .chart {
    height: 15%;
  }
  .bios {
    height: 40vh;
  }
  .background_footer {
    height: 40vh;
  }
  .container_footer {
    height: 40vh;
  }
  .copyright {
    height: 4vh;
  }
}

@media (max-width: 960px) {
  .logo {
    width: 45vw;
    height: 13vh;
  }
  header {
    height: 20vh;
  }
  .nav .navbar .item a {
    font-size: 1.8rem;
    padding: 0;
    line-height: 30px;
  }
  .nav .navbar .item a:hover {
    background-color: #1d1b1f;
    color: #c498ff;
  }
  .width_container {
    max-width: 700px;
  }
  .main {
    max-width: 600px;
  }
  .slider {
    height: 300px;
  }
  .slider h1 {
    font-size: 2.3rem;
    line-height: 25px;
  }
  .tabs p:not(:nth-child(4)) {
    font-size: 0.9rem;
    padding: 2px 3px;
  }
  .all_work {
    font-size: 0.8rem;
  }
  .photo .image_container {
    width: 22vw;
  }
  .photo .image_container p {
    width: 22vw;
  }
  .photo h2 {
    font-size: 1rem;
    line-height: 14px;

    margin: 10px auto 0 auto;
    padding: 0;
    text-align: center;
  }
  .photo p {
    font-size: 1rem;
    line-height: 14px;
    margin: 10px auto 0 auto;
    padding: 0;
    text-align: center;
  }
  .colours {
    margin-top: 15vh;
  }
  .motto h2 {
    font-size: 1.9rem;
    line-height: 25px;
  }
  .motto p {
    font-size: 1rem;
  }

  .motto img {
    height: 14px;
  }

  .motto {
    margin-bottom: 30px;
  }
  .charts {
    max-width: 600px;
    margin-bottom: 20vh;
  }
  .charts_container {
    height: 28vh;
  }
  .charts_container .chart {
    padding: 5px 0;
  }
  .charts_container .chart img {
    height: 18px;
  }
  .charts_container p {
    margin-top: 7vh;
  }
  .bios {
    height: 80vh;
  }
  .people {
    max-width: 600px;
  }
  .images .ellipse {
    width: 120px;
  }
  .images .portrait {
    width: 100px;
    height: 100px;
  }
  .people .text:nth-child(1) h2 {
    margin-left: 3vw;
    font-size: 1rem;
  }
  .people .text:nth-child(1) p {
    margin-left: 3vw;
    margin-top: 10px;

    font-size: 0.9rem;
  }
  .people .text:nth-child(2) h2 {
    margin-left: 12vw;
    font-size: 1rem;
  }
  .people .text:nth-child(2) p {
    margin-left: 12vw;
    margin-top: 10px;
    font-size: 0.9rem;
  }
  .background_footer {
    height: 60vh;
  }
  .container_footer .links .link a {
    font-size: 0.9rem;
  }
  .about {
    left: 30%;
  }

  .about p {
    font-size: 0.9rem;
  }
  .gallery .photos .photo_gallery {
    height: 40%;
  }

  .copyright p {
    font-size: 0.9rem;
  }
}

@media (max-width: 668px) and (orientation: landscape) {
  .width_container {
    max-width: 500px;
  }
  .main {
    max-width: 450px;
  }
  .charts {
    max-width: 450px;
  }
  .slider {
    height: 200px;
  }
  .nav .navbar .item a {
    font-size: 1.2rem;
    line-height: 20px;
  }
  .details {
    align-items: center;
    height: 20vh;
  }

  .details .info {
    flex-direction: column;
    height: 100%;
  }
  .details .info p {
    padding: 2px 10px;
  }
  .details .divider {
    display: none;
  }
  .details .social {
    display: flex;
    flex-direction: column;
  }
  .tabs p:not(:nth-child(4)) {
    font-size: 0.9rem;
    line-height: 14px;
  }
  .photo {
    width: 32%;
  }
  .photo .image_container {
    width: 18vw;
    height: 22vh;
  }
  .photo .image_container p {
    width: 18vw;
    height: 22vh;
  }
  .photo h2 {
    height: 5vh;
  }
  .photo p {
    padding-top: 2vh;
  }

  .background_footer {
    height: 70vh;
  }
}
@media (max-width: 668px) and (orientation: landscape) {
  header {
    height: 25vh;
  }
  .logo {
    width: 60vw;
  }
  .details {
    height: 25vh;
  }
  .slider h1 {
    max-width: 400px;
    font-size: 1.5rem;
    line-height: 20px;
    padding: 8px;
  }
  .first_gallery {
    min-height: 80vh;
  }
  .photo {
    min-height: 80vh;
  }
  .images .portrait {
    width: 80px;
    height: 80px;
  }
  .charts_container .chart img {
    height: 15px;
  }
  .charts_container .chart p {
    font-size: 1.2rem;
    margin-left: 10px;
  }
  .charts_container p {
    font-size: 0.9rem;
  }
  .bios {
    height: 90vh;
  }
  .images .ellipse {
    margin: 0 10px;
  }
  .background_footer {
    height: 80vh;
  }
  .about {
    left: 34%;
  }
}
@media (max-width: 569px) and (orientation: landscape) {
  .background_footer {
    height: 90vh;
  }
  .gallery {
    left: 73%;
  }
}

@media (max-width: 768px) and (orientation: portrait) {
  .width_container {
    max-width: 700px;
  }

  .nav .navbar .item a {
    font-size: 2rem;
    margin: 0 2px;
  }

  .slider {
    max-width: 700px;
  }
  .details {
    max-width: 700px;
  }
  .details .info p {
    padding: 0 10px;
  }

  .main {
    max-width: 600px;
  }

  .slider h1 {
    max-width: 600px;
  }

  .charts {
    max-width: 600px;
  }

  .charts_container .chart img {
    height: 20px;
  }
  .images .ellipse {
    width: 120px;
    margin: 0 15px;
  }
  .images .portrait {
    height: 100px;
    width: 100px;
  }

  .people .text:nth-child(1) h2 {
    margin-left: -11%;
  }
  .people .text:nth-child(1) p {
    margin-left: -11%;
  }
  .people .text:nth-child(2) h2 {
    margin-left: 40%;
  }
  .people .text:nth-child(2) p {
    margin-left: 40%;
  }
  .about {
    left: 34%;
  }
  .gallery {
    left: 73%;
  }
  .photos {
    height: 18vh;
  }
}
